@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

body {
    background-color: #fffef0;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    min-height: 100px;
    background-color: #f09b75;
    border: 2.5px solid #bd5324;

}

#wbc {
    width: 30%;
    height: 7%;
}

.menu {
    display: flex;
    margin-right: 10px;
}

#cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
}

.pags {
    font-size: 14px;
    padding: 8% 24%;
    margin: 30px;
    border-radius: 4px;
    color: white;
    border: 2.5px solid #ffffff;
    background-color: rgba(255, 0, 0, 0);
}

.pags:hover {
    background-color: #ffffff;
    color: #bd5324;
}


#rodape {
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    background-color: #890f0d;
    border: 2.5px solid #bd5324;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoifrn {
    width: 18%;
    height: 8%;
}

#titulo {
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    border: 2.5px solid #bd5324;
}

#titulo p {
    margin-top: 0;
    text-align: center;
    font-size: 180%;
    font-family: 'Caveat Brush', 'Franklin Gothic Medium';
}

#vindas {
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    border-top: 2.5px solid #bd5324;
    border-left: 2.5px solid #bd5324;
    border-right: 2.5px solid #bd5324;
}

#boasvindas {
    width: 100%;
    height: 50%;
}

#fotomaket {
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    border-left: 2.5px solid #bd5324;
    border-right: 2.5px solid #bd5324;
}

#maket {
    width: 100%;
    height: 50%;
}

#topicos {
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    border-left: 2.5px solid #bd5324;
    border-right: 2.5px solid #bd5324;
}

.opcoes {
    text-align: center;
}

.botao {
    background-color: rgba(255, 0, 0, 0);
    color: #890f0d;
    font-size: 1em;
    padding: 4% 12%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    transition-duration: 0.25s;
    border: 2.5px solid #bd5324;
}

.botao:hover {
    background-color: #ffffff;
    color: #bd5324;
}



