body {
    background: #7BBBAD;
    height: 100vh;

}

header {
    background-color: #184B66;
    height: 110px;
    margin-top: -40px;
    margin-left: -10px;
    margin-right: -10px;
}

#ifrn {
    width: 50px;
    float: right;
    margin-top: 30px;
    margin-right: 10px;
}

#titulo {
    font-size: 40px;
    color: white;
    font-family: 'Franklin Gothic Medium';
    margin-left: 60px;
    width: 400px;
    position: relative;
    top: 30%;
}

.rodape {
    text-align: center;
    padding: 1px;
    border-radius: 5px;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#menuPrincipal {
    background-color: rgba(255, 0, 0, 0);
    color: #ffffff;
    font-size: 16px;
    margin: 10px;
    padding: 10px 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
    transition-duration: 0.25s;
    border: 2.5px solid #ffffff
}

#menuPrincipal:hover {
    background-color: #ffffff;
    color: #9fb4a5;
}

#sumario div img {
    width: 100px;
    height: 80px;
    display: block;
}

#sumario div p{
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium' ;
    padding-top: 20px;
    margin-left:4px;
}

.menu{
    display:flex
}

h1{
    color: white;
    font-family:'Franklin Gothic Medium';
   text-align: center;
}

body p{
    color:white;
    margin-left: 60px;
    margin-right: 20px;
    text-align:justify;
}

#img3{
   width: 400px;
   height: 300px;
   border-radius: 3ch;
   margin-left: 30px;
}

#texto{
    display:flex;
}

#legenda{
    font-size: 14px;
    color:white;
    margin-top: 3px;
}

li{
    color:white;
    margin-left: 60px;
    margin-right: 20px;
    text-align:justify;
}