h2, p, a {
    font-family: Helvetica;
    text-decoration: none;
    color: black;
}
#cabecalho {
    text-align: center;
    padding: 10px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    border-radius: 8px;
    /* background-color: #cdcdcd; */
}
.texto {
    text-align: justify;
}
.rodape {
    text-align: center;
    padding: 1px;
    border-radius: 5px;
    /* background-color: #cdcdcd; */
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
}
img {
    display: block;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    border-radius: 100px;
    border: 2px solid;
    border-color: #ffffff;}

    body{
        background-color: #9fb4a5;
    }