@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

body {
    background-color: #fffef0;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    min-height: 100px;
    background-color: #f09b75;
    border: 2.5px solid #bd5324;

}

#wbc {
    margin-top: 20px;
    width: 30%;
    height: 7%;
}

#rodape {
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    background-color: #890f0d;
    border: 2.5px solid #bd5324;
    display: flex;
    align-items: center;
    justify-content: center;

}

#logoifrn {
    width: 18%;
    height: 8%;
}

#titulo {
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    border: 2.5px solid #bd5324;
}

#titulo p {
    margin-top: 0;
    text-align: center;
    font-size: 180%;
    font-family: 'Caveat Brush', 'Franklin Gothic Medium';
}

#voltar {
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    border-left: 2.5px solid #bd5324;
    border-right: 2.5px solid #bd5324;
    text-align: center;

}

#menuPrincipal {
    background-color: rgba(255, 0, 0, 0);
    color: #890f0d;
    font-size: 1em;
    padding: 4% 5%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    transition-duration: 0.25s;
    border: 2.5px solid #bd5324;
}

#menuPrincipal:hover {
    background-color: #ffffff;
    color: #bd5324;
}

#galeria {
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    border-left: 2.5px solid #bd5324;
    border-right: 2.5px solid #bd5324;
    text-align: center;
}

#galeria div img {
    width: 70%;
    height: 30%;
}

#galeria div p{
    color: #890f0d;
    font-family: 'Caveat Brush', 'Franklin Gothic Medium';
}