@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

body {
    background-color: #fffef0;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    min-height: 100px;
    background-color: #f09b75;
    border: 2.5px solid #bd5324;

}

#img {
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#conteudo {
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    border-left: 2.5px solid #bd5324;
    border-right: 2.5px solid #bd5324;
}

.texto {
    font-size: 1em;
    max-width: 800px;
    justify-content: center;
    margin: auto;
    text-align: justify;
}

#legenda {
    text-align: center;
    font-size: 70%;
    margin-top: 0px;
}

#wbc {
    margin-top: 20px;
    width: 30%;
    height: 7%;
}

#rodape {
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    background-color: #890f0d;
    border: 2.5px solid #bd5324;
    display: flex;
    align-items: center;
    justify-content: center;

}

#logoifrn {
    width: 18%;
    height: 8%;
}

#titulo {
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    border: 2.5px solid #bd5324;
}

#titulo p {
    margin-top: 0;
    text-align: center;
    font-size: 180%;
    font-family: 'Caveat Brush', 'Franklin Gothic Medium';
}

#voltar {
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    border-left: 2.5px solid #bd5324;
    border-right: 2.5px solid #bd5324;
    text-align: center;

}

#menuPrincipal {
    background-color: rgba(255, 0, 0, 0);
    color: #890f0d;
    font-size: 1em;
    padding: 4% 5%;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    transition-duration: 0.25s;
    border: 2.5px solid #bd5324;
}

#menuPrincipal:hover {
    background-color: #ffffff;
    color: #bd5324;
}

#ponto {
    max-width: 900px;
    min-width: 300px;
    margin: auto;
    border-top: 2.5px solid #bd5324;
    border-left: 2.5px solid #bd5324;
    border-right: 2.5px solid #bd5324;
    margin-bottom: -30px;
}

#tema {
    width: 100%;
    height: 50%;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 70%;
    transform: translate(-50%, -50%);
}

h2,
h1 {
    text-align: center;
    color: #890f0d;
    padding-top: 20px;

}

#etapas {
    display: flex;
}

#etapas img {
    width: 35%;
}