h2, a {
    font-family: Helvetica;
    color: black;
    text-decoration: none;
}
body {
    background-color: #dcdcdc;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    border-radius: 100px;
    border-style: dotted;
    border-color: #3c3c3c;

}
#cabecalho {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
}
#topicos{
    background-color: #808080;
    border-radius: 20px;
    padding: 5px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    text-align: center;
}
.opcoes {
    background-color: #dcdcdc;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}
